@charset "utf-8";

/* body */
html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

/* main section */
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: relative;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 100px;
    background-color:#F9F2ED;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    z-index: 1;
}


nav .logo {
    height: 30px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li a{
    padding: 10px 15px;
    color: #292929;
    font-size: 12px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.menu li a:hover,
.menu .active {
    background-color: #292929;
    color: #F4F7FF;
    text-decoration: none;
}

.title {
    width: 600px;
    position: absolute;
    left: 20%;
    top: 35%;
    transform: translate(-20%, 50%);

}

.title p:nth-child(1),
.title .details,
.about-text p {
    color: #292929;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 2;
}

.title h1,
.about-text h1,
.news-title h1 {
    font-size: 40px;
    color:#292929 ;
    margin: 0 0 16px 0;
    letter-spacing: 3px;
    font-weight: 700;

}

.title span {
    font-family: 'Libre Baskerville', serif;
}

.cv-btn,
#news .btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
    text-decoration: none;

}

.cv-btn:hover,
#news .btn:hover,
#contact .btn:hover {
    background-color: #131313;
    transition: all ease 0.5s;
    text-decoration: none;
    color:#FFFFFF;
}

.mePhoto {
    position: absolute;
    top: 20%;
    left: 65%;
    height: 80%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}


/* About Section*/

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #3AB0FF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.about-text {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-20%, 50%);
}

.about-text h2 {
    margin-top: 10%;
    color: #FFB562;
}

#about-carousel {
    position: absolute;
    top: 8%;
    left: 55%;
    width: 40%;
    padding: 8% 10%;
    text-align: center;

}

#about-carousel h3 {
    margin-top: 15%;
    margin-bottom: 0;
    letter-spacing: 3px;
    color: #292929;
    font-weight: 300;
}

#about-carousel .carousel-img {
    position: relative;
    width: 60%;
    float: top;
    display: block;
    margin: 8% 20%;

}

#about-carousel .carousel-sub-img{
    width: 30%;
    padding: 0 5%;
}

/* news Section */


#contact,
#news {
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
}

.news-title{
    width: 30%;
    position: absolute;
    top: 1%;
    left: 20%;
    transform: translate(-20%, 50%);
}

.news-title h2 {
    margin: 0;
    color: #FFB562;
}

.container-fluid {
    width: 80%;
    position: absolute;
    top: 25%;
    left: 8%;
}

.container-fluid .row {
}

.card:hover {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.card:nth-of-type(2) {
    left: 4%;
}

.card:nth-of-type(3) {
 left: 8%;
}


.card img{
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 5% ;
    padding: 0;
    box-sizing: border-box;

}

.card .card-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}


.card .card-text {
    font-size: 10px;

}

.card-text {
    line-height: 2;
}

#news .card-header {
    background-color: #3AB0FF;
    margin-top: 4%;
}

#newsOne,
#newsTwo,
#newsThree {
    width: 100%;
    height: 310vh;
    box-sizing: border-box;
    background-color: #3AB0FF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#newsThree {
    height: 230vh;
}

#newsOne .card,
#newsTwo .card,
#newsThree .card {
    top: 5%;
    left: 15%;
    width: 70%;
    position: absolute;
    text-align: left;
    line-height: 2;
}

.newsOne-video,
.newsTwo-video {
    padding: 3% 3%;
    position: relative;
    left: 22%;
}


/* Contact Form*/

#contact {
    justify-content: center;
    align-items: center;
}

#contact form {
    margin-top: -4%;
    display: flex;
    width: 80%;
    height: 80vh;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.01);
}

.contact-lef {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-right {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,0.08);
}

.contact-lef h1 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 5rem;
    color: #FFB562;

}

.contact-lef span {
    border-bottom: 3px solid #FFB562;
}

.contact-lef label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.contact-lef input,
.f-date {
    height: 30px;
    width: 250px;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom:  1px solid #292929;
    margin: 10px 0;
}

.contact-lef input::placeholder,
.f-date::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
}

.contact-lef input:focus,
.f-date:focus {
    border-bottom: 1px solid #3AB0FF;
    transition: all ease 0.5s;
}

.contact-right .f-msg {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.contact-right label {
    font-size: 18px;
    color: #4e4e4e;
}

.contact-right textarea {
    width: 100%;
    height: 100%;
    padding-bottom: 40%;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-right textarea::placeholder {
    font-size: 12px;
    letter-spacing: 2px;
    transition: all ease 0.5s;
}


#contact .btn {
    width: 100%;
    height: 50px;
    background-color: #292929;
    color: #FFFFFF;
    font-weight: 800;
    outline: none;
    border: none;
    margin-top: 7%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}



/* Footer section*/

#footer {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    background-color: #3AB0FF;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
}

#footer div {
    padding-top:0;
    text-align: center;
    color: #FFFFFF;
}

.social-icon {
    margin: 20px 10px;
    color: #292929;
    font-size: 20px;
}

.social-icon:hover {
    transition: all ease 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 600px) {
    /*main section*/

        /*nav*/

    .menu li {
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 20px;
    }

        /* title*/

    .title {
        display: flex;
        position: center;
        flex-direction: column;
        width: auto;
        height: auto;
        top: 10%;
    }

    .title font,
    .about-text h1 {
        font-size: 50px;
    }

    .title .cv-btn {
        margin-top: 5%;
    }

    .mePhoto {
        visibility: hidden;
    }

    /* about section*/

    #about {
        display: flex;
        position: center;
        flex-direction: column;
        height: 120vh;

    }

    .about-text,
    #about-carousel {
        display:flex;
        position: center;
        flex-direction: column;
    }

    .about-text {
        top: -15%;
        width: auto;
        height: auto;
    }
    .about-text p {
        font-size: 14px;
    }

    #about-carousel {
        top: 55%;
        left: 10%;
        width: 300px;
        padding-bottom: 20%;
    }


    /* news section*/

    #news {
        height: 250vh;
    }

    .news-title {
        top: 1%;
        width: auto;
        height: auto;
        display: flex;
        position: center;
    }

    .news-title h2 {
        font-size: 22px;
        margin-top: 4%;
        padding-left: 8%;
    }

    .container-fluid {
        top: 10%;
        left: 5%;
        width: 90%;
    }

    .card {
        margin-bottom: 5%;
    }

    .card:nth-of-type(2) {
        left: 0;
    }

    .card:nth-of-type(3) {
        left: 0;
    }

    #newsOne,
    #newsTwo {
        height: 540vh;
    }

    #newsThree {
        height: 320vh;
    }

    #newsOne .card,
    #newsTwo .card {
        top: 7%;
        width: 90%;
        left: 5%;
    }

    #newsThree .card {
        top: 8%;
        width: 90%;
        left: 5%;
    }

    #newsOne .newsOne-video,
    #newsTwo .newsTwo-video{
        width: 100%;
        left:0
    }

    /* contact section*/

    #contact {
        width: auto;
        height: 180vh;
        position: relative;
    }

    #contact form {
        position: absolute;
        top: 5%;
        width: 90%;
        height: auto;
        flex-direction: column;

    }

    .contact-right,
    .contact-lef {
        width: 100%;
        border: none;
    }

    .contact-lef h1 {
        font-size: 60px;
        padding-bottom: 15%;
    }

    .f-name,
    .f-other,
    .f-mail {
        width: 100%;
    }

    .contact-lef label {
        padding: 4%;
    }

    .f-name input,
    .f-other input,
    .f-mail input{
        width: 100%;
        border: none;
        background-color: #F9F2ED;
        box-sizing: border-box;
        height: 40px;
    }

    textarea {
        background-color: #F9F2ED;
        margin:  10px 10px;
        padding: 10px;
    }








}